@import "variables";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: $color-text;
}
@mixin img {
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
}
body{
    background-color: $color-background;
}
p{
    margin: 0;
}
aside{
    height: 100vh;
}
header{
    .header__right{
        .header__info{
            img{
                @include img;          
            }
        }
    }
    .header__btn{
        border: 0;
        border-radius: 50px;
    }
}
.sort{
    .sort--left{
        .sort__btn--left{
            border-radius: 50px;
            width: 200px;
        }
        button{
            box-shadow: $box-shadow;
        }
    }
    .sort--right{
        box-shadow: $box-shadow;
        border-radius: 50px;
        button{
            border: 0;
            background-color: #ffff;
        }
        .sort__btn--right{
            font-size: 15px;
            color: $color-primary;
        }
    }
}
.content {
    .hide{
        cursor: pointer;
    }
    .content--head{
        .content--avt{
            @include img;
        }
    .content__action>p{
        display: flex;
        align-content: center;
    }    
    }
    .content__block--head{
        width: 100%;
        .content__head--symbol-coulor{
            width: 20px;
            height: 20px; 
            border-radius: 50%; 
            background-color: red;
        }
    }
    ul{
        li{
            height: 2.5rem;
            img{
                height: 2.3rem;
                width: 2.3rem;
                border-radius: 50%; 
            }
        }
        
    }    
}
